*{
    padding: 0;
    margin: 0;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
	width: 1200px;
	height: 190px;
	margin:0 auto;
}
.login{
	width: 1200px;
	float: left;
	margin-bottom: 25px;
}
.loginbar{
	float: right;
	margin-top: 5px;
}
.hi{
	font-size: 12.93px;
	float: left;
	margin-top: 2px;
}
.loginbar p{
	float: left;
}
.loginbar>p a{
	font-weight: 700;
	font-size:14.78px;
	color: #000;
}
.loginbar>span{
	float: left;
	color:#666666;
}
.header select{
	border-width: 0px;
}
.loginbar>a{
	font-size: 12.93px;
	color: #000;
	margin-top: 3px;
	float: left;
}
.wbwx{
	float: left;
	margin-top:2px;
	margin-left: 5px; 
}
.wbwx a{
	display: block;
	float: left;
}
.searcher{
	height: 80px;
	width: 1200px;
	float: left;
}
.searcher>img{
	float: left;
	margin-top: 16px;
}
.searcher input{
	border:1px solid #000;
	width: 540px;
	height: 50px;
	font-size: 14.78px;
	text-align: center;
	color: #dddddd;
	margin-left: 175px;
	margin-top: 25px;
	float: left;
}
.search{
	display: block;
	border:1px solid #000;
	border-left-width:0px; 
	width: 60px;
	height: 50px;
	margin-top: 25px;
	float: left;
}
.search>img{
	margin-top: 8px;
	margin-left: 15px;
}
.cart{
	display: block;
	float: right;
	margin-top:20px; 
	margin-right: 0px;
}
.header>form>div{
	height: 30px;
	float: left;
	margin-top:25px;
	margin-left: 8px;
}
.header>form>div select{
	font-size: 14.78px;
}
.header>ul li{
	width: 70px;
	height: 30px;
	font-size: 14.78px;
	float: left;
	margin-top: 25px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
}
.header>ul a{
	color: #000;
}
.header>ul li:hover{
	border-bottom:3px solid #3aa747;
}
.header>ul li:hover a{
	color: #3aa747;
}

#banner{
	width: 100%;
	height: 670px;
	border-top: 3px solid #3aa747;
	background:url(imgs/banner.png)center;
}
.nav{
	width: 1200px;
	height: 260px;
	margin:0 auto;
}
.tip{
	width: 1200px;
	height: 70px;
}
.tip span{
	font-size: 14px;
}
#yushi{
	color: #5c5a5a;
}
.tip1{
	float: left;
}
.tip2{
	float: right;
}
.tip2>p{
	font-size: 14px;
}
.tip div{
	margin-top: 25px;
}
.nav a{
	color: #000;
}
.nav ul{
	width: 1200px;
	height: 45px;
	border-top:1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#threeul{
	border-bottom: 1px solid #ccc;
}
.nav li{
	width: 100px;
	height: 45px;
	float: left;
	margin-right:20px; 
}
#first{
	background-color: #e5e5e5;
}
.nav>ul a{	
	font-size: 16px;
	display: block;
	margin-top: 10px;
	margin-left: 30px;
}
#more{
	float: right;
}
.nav>ul a:hover{
	color: #3aa747;
}
.imgs{
	width: 1200px;
	height: 800px;
	margin:0 auto;
}
.imgs>div{
	width: 275px;
	height:300px;
	border:1px solid #000;
	float: left;
	margin:20px 11px 15px 12px;
	background-repeat:no-repeat;
	position: relative;
}
#imgs6{
	background-position:30px 60px;
}
#img2{
	background-position:40px;
}
.imgs p{
	color: #fff;
}
.price{
	height: 45px;
	width:275px;
	background-color: rgba(0,0,0,0.7);
	font-size: 22.14px;
	position: absolute;
	bottom:0;
	text-align: center;
	font-size: 14.83px;
	padding-top: 5px;
	opacity:0.8;
}
.hide{
	height: 200px;
	width:100%;
	background-color: rgba(0,0,0,0.7);
	font-size: 22.14px;
	text-align: center;
	line-height: 2em;
	padding-top: 100px;
	
	display: none;
}

.imgs>div:hover .price{
	display: none;
}
.imgs>div:hover .hide{
	display: block;
}

.service-wrap{
	height: 100px;
	width: 100%;
	background-color: #f5f5f5;
}
.service{
	width: 1200px;
	height: 50px;
	margin:0 auto;
}
.f1{
	width: 290px;
	height: 50px;
	float: left;
	margin-top: 25px;
}
.f{
	width: 290px;
	height: 50px;
	border-left: 1px solid #e2e2e2;
	float: left;
	margin-top: 25px;
}
.service img{
	float: left;
	margin-left: 30px;
}
.service a{
	color: #000;
}
.firstline{
	font-size:19px;
}
.secondline{
	font-size:13px;
}
.service span{
	margin-left: 20px;
}
.copyright-wrap{
	height: 100px;
	width: 100%;
	background-color: #323232;
}
.copyright{
	width: 750px;
	height: 80px;
	margin:0 auto;
}
.copyright p{
	color: #fff;
	font-size: 14px;
}
.copyright a{
	color: #fff;
}
.copyright div{
	padding-top: 25px;
}

.copyright>div + div{
	width: 275px;
	margin: 0 auto;
}
.copyright>div + div>span{
	font-size: 14px;
	color: #fff;
}
.fixed{
	width: 80px;
	height: 400px;
	background-color: #040b0a;
	position:fixed;
	right: 0;
	top: 195px;
}
.fixed a{
	display: block;
	width: 75px;
	height: 80px;
	border-bottom:1px solid #fff;
	margin: 0 auto;
}
.fixed img{
	margin-top: 20px;
	margin-left: 20px;
}
#gotop{
	border-bottom-width:0; 
}

